<div class="comments">
  <% @review.comments.each do |comment| %>
    <div class="border-bottom mb-4" style="padding:10px;">
      <div class="d-flex justify-content-between">
        <div class="card border border-0" style="width: 550px;">
          <div class="media">
            <div class="media-left media-top">
              <div class="mr-2 rounded media-object">
                <%= image_tag comment.user.image.icon.url, size: "35x35" %>
              </div>
            </div>
            <div class="media-body">
              <p><%= link_to comment.user.name, user_path(comment.user) %>@<%= comment.user.favmoviesid %></br>
              <small class="text-muted"><%= comment.updated_at.strftime("%Y/%m/%d") %></small></p>
            </div>
          </div>
        </div>
        <% if current_user == comment.user %>
          <%= link_to "x", review_comment_path(@review, comment), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-outline-danger h-25" %>
        <% end %>
      </div>
      <%= comment.content %>
    </div>
  <% end %>  
</div>
<% if logged_in? %>
  <div class="comment-form">
    <%= form_with(model: [@review, @comment], method: :post, local: true) do |f| %>
    <%= render "layouts/error_messages", model: @comment %>
      <div class="d-flex justify-content-between">
        <div style="width: 550px;">
          <%= f.text_field :content, class: "form-control", placeholder: "コメントする" %>
          <%= f.hidden_field :review_id, value: @review.id %>
        </div>
        <%= f.submit "送信", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
<% end %>
  
  
  