<div class="container mb-4 mx-auto">
  <div class="row">
    <% users.each do |user| %>
    <div class="col-sm-4">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="media">
            <div class="media-left media-top">
              <div class="mr-2 rounded media-object">
                <%= image_tag user.image.icon.url, size: "40x40" %>
              </div>
            </div>
            <div class="media-body">
              <p><%= link_to user.name, user_path(user) %>@<%= user.favmoviesid %></br>
                <small class="text-muted"><%= user.gender %>&ensp;<%= user.age %>
                <% unless user.age.nil? %>
                代
                <% end %>
                </small>
              </p>
              <p style="font-size: 90%;"><%= user.introduce %></p>
              
              <!--heroku表示できず <p style="font-size: 90%;"><%= safe_join(user.introduce.truncate(50).split("\n"),tag(:br)) %></p> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
