<div class="container-fluid bg-white">
  <div class="card border border-0 p-3 mx-auto" style="max-width: 1000px;">
    <div class="row no-gutters">
      <div class="col-xl-8">
        <div class="card-body">
          <div class="media">
            <div class="media-left media-top">
              <div class="mr-2 rounded media-object">
                <%= image_tag user.image.icon.url, size: "80x80" %>
              </div>
            </div>
            <div class="media-body">
              <p><%= user.name %>@<%= user.favmoviesid %></br>
                <small class="text-muted"><%= user.gender %>&ensp;<%= user.age %>
                <% unless user.age.nil? %>
                代
                <% end %>
                </small>
              </p>
              <p><%= user.introduce %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-body text-center">
          <div class="card-text mt-0 pt-0 mx-auto">
            <div>
              <% if logged_in? %>                                                              
                <%= render "relationships/follow_button", user: user %>
              <% end %>
            </div>
            <div class="card-text mt-0 pt-0">
              <% if current_user == user %>
                <div>
                  <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-outline-secondary btn-sm" %>
                  <%= link_to "投稿する", new_review_path, class: "btn btn-outline-secondary btn-sm ml-2" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





