<% if users.any? %>
  <div class="container">
    <ul class="list-unstyled style="width:500px">
      <% users.each do |user| %>
        <li class="media">
          <div class="mr-2 rounded media-object">
            <% if user.image? %>                                                              
              <%= image_tag user.image.url, size: "100x100", alt: "100x100" %>
            <% else %>
              80x80
            <% end %>
          </div>
          <div class="media-body">
            <div>
               <%= link_to user.name, user_path(user) %>@<%= user.favmoviesid %>
            </div>
            <div class="small">
              <%= user.introduce %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= paginate users %>
<% end %>



