<% if users.any? %>

<div class="container">
  <div class="row">
    <% users.each do |user| %>
    <div class="col-lg-4">
      <div class="card" style="width: 300px;">
        <div class="card-body">
        
          <div class="media">
            <div class="media-left media-top">
              <div class="mr-2 rounded media-object">
                <%= image_tag user.image.icon.url, size: "40x40" %>
              </div>
            </div>
            <div class="media-body">
              <p><%= link_to user.name, user_path(user) %>@<%= user.favmoviesid %></br>
                <small class="text-muted"><%= user.gender %>&ensp;<%= user.age %>
                <% unless user.age.nil? %>
                代
                <% end %>
                </small>
              </p>
              <p><%= user.introduce.truncate(50) %></P>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% end %>