<%= render "user.show", user: @user %>
  
<div class="mb-5">  
  <%= render "usersbar" %>
</div>

<div class="mb-5">  
  <%= render "usergenrebar" %>
</div>


<%= render 'reviews/review', reviews: @reviews %>

<div class="pagination-sm mt-5 mb-5">
 <%= paginate @reviews %>
</div>