<div class="container">
  <div class="media" style="width: 1000px;">
    <div class="media-left media-top">
      <div class="mr-2 rounded media-object">
        <% if @user.image? %>                                                              
          <%= image_tag @user.image.url, size: "100x100", alt: "100x100" %>
        <% else %>
          80x80
        <% end %>
      </div>
    </div>
    <div class="media-body">
      <h5></h5><%= @user.name %>@<%= @user.favmoviesid %></h5>
      <h6><%= @user.gender %> <%= @user.age %></h6>
      <p><%= @user.introduce %></p>
    </div>
  </div>
</div>

<div class="container">
  <%= render "usersbar" %>
</div>
