<%= render "layouts/jumbotron" %>

<div class="text-center mt-5">
  <h4>お問い合わせ</h4>
</div>

<div class="container p-4 mt-4 mb-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="mb-5">
        以下の内容で送信して宜しいですか？
      </div>
      <div class="mb-5">
        お名前：<br>
        <%= @contact.name %>
      </div>
      <div class="mb-5">
        ご意見・ご要望：<br>
        <%= @contact.message %>
      </div>
        
      <div class="container p-0">
        <div class="d-flex justify-content-between mt-5 mb-4">
          <%= form_with(model: @contact, url: contacts_back_path, local: true) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :message %>
            <div><%= f.submit "入力画面に戻る", class: "btn btn-info" %></div>
          <% end %>
          <%= form_with(model: @contact, url: contacts_path, local: true) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :message %>
            <div><%= f.submit "送信する", class: "btn btn-info" %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>











