<!DOCTYPE html>
<html lang="ja" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Favmovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>


  <body class="d-flex flex-column h-100">
    
    <%= render "layouts/navbar" %>
  
    <main class="flex-shrink-0">
      <div>
        <%= render "layouts/flash_messages" %>
  
        <%= yield %>
      </div>
    </main>
    
    <footer class="mt-auto py-3" style="background-color:#fff5ee; text-align: center;">
      <div class="container">
        <span class="text-muted">&copy; 2021 SHIORI KATO.</span>
      </div>
    </footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>