<!DOCTYPE html>
<html lang="ja" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Favmovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>


  <body class="d-flex flex-column h-100 mb-5" style="background-color:#fff5ee;">
    
    <%= render "layouts/navbar" %>
  
    <main class="flex-shrink-0">
      <div>
        <%= render "layouts/flash_messages" %>
  
        <%= yield %>
      </div>
    </main>
    
    
    
    <small class="text-muted text-center mt-5">Fav Movies をシェア</small>
    <div class="mx-auto mt-3 mb-5" style="width: 180px;">
      <div class="d-flex justify-content-between">
    
          <%= link_to image_tag("twwiter.png"), "https://twitter.com/share?url=https://favmovies3.herokuapp.com/" %>
          
          <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="https://favmovies3.herokuapp.com/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="52F5axub"></script>
          <div class="fb-share-button" data-href="https://favmovies3.herokuapp.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffavmovies3.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">facebook</a></div>
        
      </div>
    </div>
    
    <footer class="mt-auto py-2 border-top" style="background-color:#fff5ee; text-align: center;">
      <div class="container">
        <span class="text-muted">&copy; 2021 SHIORI KATO.</span>
      </div>
    </footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>